body{
    background-color: rgb(247, 247, 247);
}


.html {
    color: rgb(185, 79, 38);
}

.css {
    color: rgb(0, 79, 132);
}

.js {
    color: rgb(201, 148, 64);
}

.info{
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-logo>.float-start{
    height: 40vh;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.info-texto{
    text-align: center;
}

#carousel-home{
    width: 70%;
    height: auto;
    margin: auto;
}